body {
  margin: 0;
  background: #FFECD1;
  font-family: 'Segoe UI', sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #FFD1B3;
  padding: 50px 60px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.login-card h2 {
  color: #636363;
  margin-bottom: 40px;
  font-size: 28px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-card input {
  padding: 14px 18px;
  border-radius: 25px;
  border: none;
  background: #ffffff;
  font-size: 15px;
  outline: none;
  text-align: center;
}

.login-card input:focus {
  box-shadow: 0 0 0 2px #D1B39F;
}

.login-card button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #85827E;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-card button:hover {
  background: #636363;
}

.back-link {
  color: #636363;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  display: block;
}